name: "CI"

on:
  push:
  pull_request_target:
    types: [labeled]

jobs:
  ci:
    name: "CI / Python ${{ matrix.python-version }} / PG ${{ matrix.postgres-version }}"
    runs-on: "ubuntu-24.04"
    if: github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'pr approved')
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.11"
            postgres-version: "10"
          - python-version: "3.11"
            postgres-version: "11"
          - python-version: "3.11"
            postgres-version: "12"
          - python-version: "3.11"
            postgres-version: "13"
          - python-version: "3.11"
            postgres-version: "14"
          - python-version: "3.11"
            postgres-version: "15"
          - python-version: "3.11"
            postgres-version: "16"

          - python-version: "3.10"
            postgres-version: "16"
          - python-version: "3.12"
            postgres-version: "16"
          - python-version: "3.13"
            postgres-version: "16"

    env:
      DOCKER_TAG: "${{ github.sha }}"
      PYTHON_VERSION: "${{ matrix.python-version }}"
      PG_VERSION: "${{ matrix.postgres-version }}"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"

      - name: "Get docker image name"
        id: "get-docker-image-name"
        run: |
          DOCKER_IMAGE_NAME=$(yq -e '.services.py.image | split(":").0' docker-compose.yaml)
          echo "docker-image-name=$DOCKER_IMAGE_NAME" >> $GITHUB_OUTPUT

      - name: "Set docker image metadata"
        id: "docker-metadata"
        uses: "docker/metadata-action@v5"
        with:
          images: |
            ${{ steps.get-docker-image-name.outputs.docker-image-name }}
          tags: |
            type=raw,value=${{ env.DOCKER_TAG }}

      - name: "Set up Docker Buildx"
        uses: "docker/setup-buildx-action@v3"
        with:
          buildkitd-config-inline: |
            [registry."docker.io"]
              mirrors = ["mirror.gcr.io"]

      - name: "Add uid and gid env vars"
        id: "set-uid-gid"
        run: |
          echo "uid=`id -u`" >> $GITHUB_OUTPUT
          echo "gid=`id -g`" >> $GITHUB_OUTPUT

      - name: "Build Docker image"
        id: build-docker-image
        uses: "docker/build-push-action@v6"
        with:
          build-args: |
            PYTHON_VERSION=${{ env.PYTHON_VERSION }}
            UID=${{ steps.set-uid-gid.outputs.uid }}
            GID=${{ steps.set-uid-gid.outputs.gid }}
          push: false
          load: true
          tags: "${{ steps.docker-metadata.outputs.tags }}"
          labels: "${{ steps.docker-metadata.outputs.labels }}"
          cache-from: type=gha
          cache-to: type=gha,mode=max
          provenance: false

      - name: "Lint"
        run: |
          ./bin/lint.sh

      - name: "Test"
        run: |
          ./bin/test.sh

  release-package:
    name: "Release package"
    runs-on: "ubuntu-24.04"
    needs: ["ci"]
    env:
      PYTHON_VERSION: "3.13"
      POETRY_VERSION: "1.8.5"
    if: contains('refs/heads/master refs/heads/main', github.ref)

    permissions:
      contents: "write"
      id-token: "write"

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Setup python ${{ env.PYTHON_VERSION }}"
        uses: "actions/setup-python@v6"
        with:
          python-version: "${{ env.PYTHON_VERSION }}"
          cache: "pip"

      - name: "Setup poetry ${{ env.POETRY_VERSION }}"
        run: |
          curl -sSL https://install.python-poetry.org | POETRY_HOME="$HOME/.poetry" python - --version ${{ env.POETRY_VERSION }} --force
          echo "$HOME/.poetry/bin" >> $GITHUB_PATH

      - name: Should publish package
        id: should-publish-package
        run: |
          npm install -g semver

          ALL_GIT_TAGS=$(git tag)
          ALL_RELEASES=$(semver ${ALL_GIT_TAGS})
          LAST_RELEASE=$(semver ${ALL_GIT_TAGS} | tail -n1)

          # Current version set in pyproject.toml file
          CURRENT_VERSION=$(semver $(poetry version -s))

          if [[ $ALL_RELEASES == *"${CURRENT_VERSION}"* ]]; then
              echo "::warning::Package version in pyproject.toml not bumped, will not publish new package"
              echo "publish=0" >> $GITHUB_OUTPUT
          else
              echo "::info::Package will be released. Last release version: ${LAST_RELEASE}, current version: ${CURRENT_VERSION}"
              echo "publish=1" >> $GITHUB_OUTPUT
          fi

      - name: Get version
        id: get-version
        run: |
          echo "version=$(poetry version -s)" >> $GITHUB_OUTPUT
        if: steps.should-publish-package.outputs.publish == 1

      - name: "Build final package"
        run: |
          poetry build
        if: steps.should-publish-package.outputs.publish == 1

      - name: "Publish package to PyPI"
        uses: pypa/gh-action-pypi-publish@release/v1
        if: steps.should-publish-package.outputs.publish == 1

      - name: "Create release"
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ steps.get-version.outputs.version }}
          generate_release_notes: true
        if: steps.should-publish-package.outputs.publish == 1
